body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #3b787d;
}

#mainTitle{
    text-align: center;  
    font-size: 36px;
    font-weight: bold;   
    color: yellow; 
}

#players{
    display:flex;
    justify-content: space-around;
    margin-top: 110px;
}

#randomValue{
    display:flex;
    justify-content: space-around;
    margin-top: 50px;
}

.playerOne{
    font-size: 36px;
    color: #ffc107;
}

.playerTwo{
    font-size: 36px;
    color: #ffc107;
}

#btn{
    border: none;
    background-color: rgb(247, 0, 74);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: bold;

}